[[keyboard.bindings]]
chars = "\u0017"
key = "Back"
mods = "Control"

[colors.primary]
background = "{{ global_colorscheme.base.hex }}"
foreground = "{{ global_colorscheme.text.hex }}"
dim_foreground = "{{ global_colorscheme.overlay1.hex }}"
bright_foreground = "{{ global_colorscheme.text.hex }}"

[colors.cursor]
text = "{{ global_colorscheme.base.hex }}"
cursor = "{{ global_colorscheme.rosewater.hex }}"

[colors.vi_mode_cursor]
text = "{{ global_colorscheme.base.hex }}"
cursor = "{{ global_colorscheme.lavender.hex }}"

[colors.search.matches]
foreground = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.subtext0.hex }}"

[colors.search.focused_match]
foreground = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.green.hex }}"

[colors.footer_bar]
foreground = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.subtext0.hex }}"

[colors.hints.start]
foreground = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.yellow.hex }}"

[colors.hints.end]
foreground = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.subtext0.hex }}"

[colors.selection]
text = "{{ global_colorscheme.base.hex }}"
background = "{{ global_colorscheme.rosewater.hex }}"

[colors.normal]
black = "{{ global_colorscheme.surface1.hex }}"
red = "{{ global_colorscheme.red.hex }}"
green = "{{ global_colorscheme.green.hex }}"
yellow = "{{ global_colorscheme.yellow.hex }}"
blue = "{{ global_colorscheme.blue.hex }}"
magenta = "{{ global_colorscheme.pink.hex }}"
cyan = "{{ global_colorscheme.teal.hex }}"
white = "{{ global_colorscheme.subtext1.hex }}"

[colors.bright]
black = "{{ global_colorscheme.surface1.hex }}"
red = "{{ global_colorscheme.red.hex }}"
green = "{{ global_colorscheme.green.hex }}"
yellow = "{{ global_colorscheme.yellow.hex }}"
blue = "{{ global_colorscheme.blue.hex }}"
magenta = "{{ global_colorscheme.pink.hex }}"
cyan = "{{ global_colorscheme.teal.hex }}"
white = "{{ global_colorscheme.subtext1.hex }}"

[[colors.indexed_colors]]
index = 16
color = "{{ global_colorscheme.peach.hex }}"

[[colors.indexed_colors]]
index = 17
color = "{{ global_colorscheme.rosewater.hex }}"

[font]
size = 11

[font.bold]
family = "{{ global_fonts.terminal }}"
style = "Bold"

[font.bold_italic]
family = "{{ global_fonts.terminal }}"
style = "Bold Italic"

[font.italic]
family = "{{ global_fonts.terminal }}"
style = "Italic"

[font.normal]
family = "{{ global_fonts.terminal }}"
style = "Regular"

[scrolling]
history = 10000
multiplier = 3

[window.padding]
x = 20
y = 20

[keyboard]
